@tailwind base;
@tailwind components;
@tailwind utilities;

.photos-skills {
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

* {
    scroll-behavior: smooth;

}